[Unit]
Description=Startup to convert Your Old Pc to usable Video Hosting Platform
Documentation=https://github.com/KooshaYeganeh/FMhost
After=NetworkManager.service

[Service]
Type=simple
User=koosha
WorkingDirectory=/home/koosha/w/FMhost
ExecStart=/bin/bash /home/koosha/w/FMhost/FMhost_runner
ExecStop=/bin/bash /home/koosha/w/FMhost/FMhost_runner stop
Restart=on-failure
Environment="PATH=/home/koosha/w/FMhost/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

[Install]
WantedBy=multi-user.target
